.welcome-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8px;
    font-weight: 600;
}

.title-text h1 {
    font-size: 48px;
}

.title-text h2 {
    font-size: 29px;
}
.video-container {
    height: 417px;
    width: 745px;
    background-color: gray;
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
}

.module-enter {
    display: flex;
    align-items: center;
    gap: 22px;
    margin: 0 auto;
    border-radius: 16px;
    background-color: var(--button-bg);
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    box-shadow: 4px 5px 0.5px hsla(33, 56%, 58%, 1);
}


.arrow-icon {
    width: 32px;
    height: 32px;
    margin-top: 5px;
}

.module-enter:hover {
    cursor: pointer;
    background-color: hsla(33, 56%, 58%, 1);

    box-shadow: 2px 3px hsla(33, 56%, 58%, 1);
    color:rgb(62, 62, 62);
    transition: color 0.3s ease, background-color 0.3s ease, 
            box-shadow 0.3s ease-in-out;
}